In [1]:
## Let's import packages we need 
import numpy as np 
import yfinance as yf
from datetime import datetime, timedelta

In [14]:
## Variables 
stock_name = "AAPL"
end_date = datetime.today()
start_date = end_date - timedelta(days = 365)

In [16]:
## Data 
stock_data = yf.download(stock_name, start_date, end_date)
stock_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-10-09,176.809998,179.050003,175.800003,178.990005,178.078766,42390800
2023-10-10,178.100006,179.720001,177.949997,178.389999,177.481812,43698000
2023-10-11,178.199997,179.850006,177.600006,179.800003,178.884628,47551100
2023-10-12,180.070007,182.339996,179.039993,180.710007,179.789993,56743100
2023-10-13,181.419998,181.929993,178.139999,178.850006,177.939484,51427100
...,...,...,...,...,...,...
2024-09-30,230.039993,233.000000,229.649994,233.000000,233.000000,54541900
2024-10-01,229.520004,229.649994,223.740005,226.210007,226.210007,63285000
2024-10-02,225.889999,227.369995,223.020004,226.779999,226.779999,32880600
2024-10-03,225.139999,226.809998,223.320007,225.669998,225.669998,34044200
2024-10-04,227.899994,228.000000,224.130005,226.800003,226.800003,37245100

In [38]:
## Daily returns 
d_returns = stock_data['Adj Close'].pct_change(1)
stock_vol = d_returns.std()
d_returns

Date
2023-10-09         NaN
2023-10-10   -0.003352
2023-10-11    0.007904
2023-10-12    0.005061
2023-10-13   -0.010293
                ...
2024-09-30    0.022872
2024-10-01   -0.029142
2024-10-02    0.002520
2024-10-03   -0.004895
2024-10-04    0.005007
Name: Adj Close, Length: 250, dtype: float64

In [20]:
stock_vol

0.014168119999597089

In [22]:
stock_price = stock_data['Adj Close'][-1]

strike_price = stock_price

/var/folders/ps/30swyym14g330zsz1w8zl9gc0000gn/T/ipykernel_65637/1476026898.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  stock_price = stock_data['Adj Close'][-1]

In [23]:
strike_price

226.8000030517578

In [24]:
## Risk free rate and maturity 
risk_free_rate = 0.05
maturity = 1

In [26]:
## Option Pricing 
def european_option_price(S0, K, v, r, T, nSim, flag):
    
    z = np.random.standard_normal(nSim)
    
    S_fwd = S0 * np.exp((r-0.5* v**2)*T + v*np.sqrt(T)*z)
    
    if flag == 'call':
        payoff = np.maximum(S_fwd - K, 0)
    elif flag == 'put':
        payoff = np.maximum(K-S_fwd, 0)
    else :
        print("incorrect flag")
        return 
    
    return np.exp(-r*T)*np.sum(payoff)/nSim

In [27]:
## Number of simulation 
nSim = 100000

In [36]:
## flag 
flag_ = input()

 put

In [37]:
option_price = european_option_price(
    stock_price, strike_price, stock_vol, risk_free_rate, maturity, nSim, flag_)
option_price

0.00014289270477712933